@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	body {
		@apply bg-[#1f1e26];
	}
}

@layer utilities {
	.scrollbar::-webkit-scrollbar {
		width: 4px;
	}

	.scrollbar::-webkit-scrollbar:horizontal {
		height: 8px;
	}

	.scrollbar::-webkit-scrollbar-thumb {
		background: #6270ec;
		border-radius: 100vh;
		border: 3px solid #6270ec;
	}
}
